*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
auth.json
Thumbs.db
composer.lock
package-lock.json
vendor/
blade-ui-kit/
tests/Browser/Screenshots/
tests/Browser/Traces/
.playwright/
playwright-report/
