//
// Display
// --------------------------------------------------

.h-header {
  height: $header-height !important;
}

.overflow-y-auto {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// Dark mode display classes
html.dark {
  .d-dark-none {
    display: none !important;
  }

  .d-dark-inline-block {
    display: inline-block !important;
  }

  .d-dark-block {
    display: block !important;
  }

  .d-dark-flex {
    display: flex !important;
  }

  .d-dark-inline-flex {
    display: inline-flex !important;
  }
}
